.list-group .list-group-item{
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.navbar-brand {
  border: none;
}

.cardProduct {
  width: 18rem;
  margin: 4px;
}

.nav-link{
  border-right: none;
}